<div class="title_image">
  <div class="home_left">
    <a type="btn" class="button" href="/users/sign_up">
      <div class="title">
        Xtreme
      </div>
    </a>
  </div>
  <div class="home_right">
  </div>
</div>
